@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-primary-light: #1e293b;
  --color-primary-dark: #020617;

  --color-accent: #f97316;
  --color-accent-hover: #ea580c;

  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;

  --font-sans: 'Inter', sans-serif;
  --font-logo: 'MuseoModerno', display;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased text-slate-800 bg-white;
  }

  a,
  button {
    @apply cursor-pointer;
  }
}